body {font: 12pt "New Century Schoolbook", "Times New Roman", TimesNR, Times, serif;}
body h1#sitemast {margin-bottom: 1em;}
body div#main {margin: 0 10%; padding: 0; position: static;}
body div#sidebar {display: none !important;}
body div#footer {margin-top: 2em;}
